# root
/node_modules
/package-lock.json
/.vscode/settings.json

# frontend
/client/.env
/api/logs/*.log
/client/build
/client/node_modules
/client/package-lock.json

# backend
/api/.env
/api/*.log
/api/node_modules
/api/package-lock.json
